<header class="site-header">
  <div class="float-left">
    {{#if @blog.logo}}
      <div class="site-title"><a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}"></a></div>
    {{else}}
      <div class="site-title"><a href="{{@blog.url}}">{{@blog.title}}</a></div>
    {{/if}}
  </div>

  <div class="float-right">
    {{navigation}}
  </div>
</header>
