{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<div class="wrapper">
  <main class="site-main wow fadeIn" data-wow-duration=".8s" role="main">

    {{! Everything inside the #post tags pulls data from the post }}
    {{#post}}

    <article class="{{post_class}}">
      <header class="post-header">
        <h2>{{title}}</h2>
        <p class="post-meta">
          <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="YYYY-MM-DD"}}</time> <br>
          <ul class="article-tag">
            {{#foreach tags}}
            <li>
              <a href="{{url}}">{{name}}</a>
            </li>
            {{/foreach}}
          </ul>
        </p>
        {{#if feature_image}}
        <section class="featured-image">
          <img src="{{feature_image}}" alt="{{title}}">
        </section>
        {{/if}}
      </header>

      <section class="post-content">
        {{content}}
      </section>
    </article>

    <section class="read-next-story">
      <div>
        {{#next_post}}
        <div class="next">
          <h3><a href="{{url}}">{{title}}</a></h3>
        </div>
        {{/next_post}}
      </div>

      <div>
        {{#prev_post}}
        <div class="prev">
          <h3><a href="{{url}}">{{title}}</a></h3>
        </div>
        {{/prev_post}}
      </div>
    </section>

    {{#get "posts" filter="tags:{{primary_tag.slug}}+id:-{{id}}" limit="3" as |related|}}
      {{#if related}}
        <section class="related-article">
          <h4>同一カテゴリの関連記事</h4>
          <ul>
            {{#foreach related}}
              <li>
                <a href="{{url}}">
                  {{#if feature_image}}
                    <p class="featured-image">
                      <img src="{{feature_image}}" alt="{{title}}">
                    </p>
                  {{/if}}
                  <ul class="article-tag">
                    {{#foreach tags}}
                      <li>{{name}}</li>
                    {{/foreach}}
                  </ul>
                  <div class="article-content">
                    <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="YYYY-MM-DD"}}</time>
                    <h5>{{title}}</h5>
                    <p class="article-text">{{excerpt characters="88"}}...</p>
                  </div>
                </a>
              </li>
            {{/foreach}}
          </ul>
        </section>
      {{/if}}
    {{/get}}

    {{> widget-share}}
    {{> breadcrumb}}

    {{/post}}

  </main>
</div>
